.main {
    height: 100vh;
    background: #ffffff;
}
.title{
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
.category-item{
    text-align: center;
    font-size: 14px;
    margin-bottom: 6px;
}
.category-item-img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}