
.text-truncate{
    word-wrap: normal; /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.date-time-picker{
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;
}
.mask{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #000000;
    opacity: 0.6;
    z-index: 998;
}

.star{
    color: #b20004;
    margin-left: -2px;
}
.archives{
    margin-bottom: 60px;
}
.archives-item{
    display: flex;
    flex-direction: flex;
    padding: 10px;
    margin-bottom: 6px;
    background: #ffffff;
    border-bottom: 1px solid #f0eff4;
}
.archives-item-author{
    width: 100px;
    color: #333333;
    font-size: 14px;
    margin-right: 6px;
}
.archives-item-content{
    flex: 1;
    font-size: 14px;
    overflow: hidden;
}
.archives-item-content-sex{
    margin-left: 20px;
}
.archives-item-content-input{
    width: 100%;
    font-size: 14px;
}
.archives-footer{
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    background: #b20004;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}