.margin-top-20 {
    margin-top: 20px !important;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
    padding: 19px 20px 20px 20px;
}

.breadcrumb {
    width: 100%;
}

.action {
    display: flex;
    justify-content: flex-end;
}

.action-margin {
    margin-right: 8px;
}

.title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.main {
    position: absolute;
    width: 100%;
    top: 97px;
    bottom: 0px;
    overflow: auto;
}

.content {
    position: relative;
    margin: 20px;
}

.tab {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
}

.tab-title {
    position: relative;
    display: flex;
    height: 55px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 20px;
}

.add-sku-button{
    padding: 20px;
    margin-left: 40px;
}

.tab-title-sku{
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 12px;
    font-weight: normal;
}

.tab-form-row-clone{
    cursor: pointer;
}

.tab-form-row {
    padding: 20px;
}

.tab-form-row-image-upload{
    position: relative;
    margin-top: 20px;
}

.tab-form-row-image-upload-clone{
    position: absolute;
    top: -10px;
    left: 92px;
    cursor: pointer;
}